/*.signup div{
	float: left;
	width: 45%;
}

#new_user div div{
	float:right;
}
#new_user div{
	width:100%;
}

#new_user div div label{
	margin-left:541px;
}

#new_user div div {
	float: left;
	width: 50%;
	margin-bottom: 10px;
	margin-left: -15px;
	text-align:left;
}

.text{
	margin-left:28px;
}

#new_user{
	margin-top:30px;
}

.submit{
	width:100%;
}

#user_remember_me{
	margin-left:20px;
}

#user_remember_me {
    margin-left: -693px;
	    margin-top: 103px;
		    position: absolute;
			}*/

.namefield .field_with_errors  .labelname{
	float: left;
	margin-left: 550px;
	margin-right: -376px;
	text-align: left;
width: 90px;}

.submit{
	margin-left: -1px;
	margin-top: 49px;
	width: 100%;
}
#new_user{
	margin-top:30px;
}

.namefield .field_with_errors .labelname{
	width:50%;
}

/*.namefield .field_with_errors #user_password{
	float:left;
	margin-left:-150px;
}*/
.namefield .field_with_errors .message{
	float:left;
	margin-top:-7px;
}
.namefield .field_with_errors #user_email{
	float:left;
	margin-left:-150px;
}

/*.namefield #user_password{
	float:left;
}*/

.namefield .labelname{
	float: left;
	margin-left: 550px;
	margin-right: -376px;
	text-align: left;
width: 90px;
}
.namefield .field_with_errors #user_password{
	float:left;
	margin-left:-150px;
}


