.signup div{
	float: left;
	width: 45%;
}

#new_user div div{
	float:right;
}
#new_user div{
	width:100%;
}

#new_user div div label{
	margin-left:541px;
}

#new_user div div {
	float: left;
	width: 50%;
	margin-bottom: 10px;
	margin-left: -15px;
	text-align:left;
}

.text{
	margin-left:28px;
}

#new_user{
	margin-top:30px;
}

.submit{
	width:100%;
}

#user_remember_me{
	margin-left:20px;
}

#user_remember_me {
    margin-left: -693px;
	    margin-top: 103px;
		    position: absolute;
			}
