// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
#hometitle{
	font-size: 28px;
}

#display p{
	position: absolute;
	text-align: left;
	left:550px;
}

#display p h{
	font-weight:bold;
}

#editprofile{
	font-size:28px;
}

.photo{
	margin-left:83px;
}

.error{
	color:red;
}

.namefield .labelname{
	float: left;
	margin-left: 550px;
	margin-right: -273px;
	text-align: left;
	width: 90px;
}

.namefield input{
	margin-left:-101px;
}

#edit_user_info_1{
	margin-top:20px;
}

.createpicture{
	margin-left: -25px !important;
}

#user_info_pictuer{
	margin-left:5px;
}
.submitbutton{
	margin-left: 138px;
	margin-top: 20px;
}

#edit_user_info_11{
	margin-top:20px;
}

.field_with_errors{
display:inline;
margin-left:105px;
}
.message{
	color:red;
	display:inline;
	padding-left:20px;
}
*/
.submitbutton{
	margin-left: -19px;
	margin-top: 44px;
}

.photo{
float:left;
}
#editprofile{
	font-size:28px;
}
#display p h{
	font-weight:bold;
}
#display p{
	position: absolute;
	text-align: left;
	left:550px;
}

form {
	margin-top:30px !important;
}
